<h1>Este es el Nuevo post!</h1>

<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @post.text %>
</p>

<%= link_to 'Back', posts_path %>
<%= link_to 'edit', edit_post_path(@post)%>

<h2>Comentarios:</h2>
<% @post.comments.each do |comment| %>
	<p>
		<strong>Commenter: </strong>
		<%= comment.commenter %>
	</p>
	<p>
		<strong>Comment: </strong>
		<%= comment.body %>
	</p>
	<p>
		<%= link_to 'Destroy Comment', [comment.post, comment], method: :delete, data: {confirm: 'Estas seguro?'}%>
	</p>	

<% end %>

<h2>Agregar un comentario<h2>
<%= form_for ([@post, @post.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %> <br />
		<%= f.text_field :commenter %>
	</p>

	<p>
		<%= f.label :body %> <br />
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>

